body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7564643b;
}

.calculator {
    background-color: #b19999;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 20px; 
    padding: 10px;
    font-size: 24px;
    border: none; 
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    /*we can adjust the size as per our need*/
    padding: 20px; 
    font-size: 24px; 
    background-color: #f0df4d;
    border: 1px solid #6827ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #271a1ad2;
}
